<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "My first suite" configfailurepolicy="continue" >

    <parameter name="stringA" value="I hate"/>
    <parameter name="stringB" value=" bugs"/>
    <parameter name="browser" value="chrome"/>

    <test name ="My first test" >
        <classes>
            <class name = "com.automation.uitests.AutomationTest"/>
        </classes>
    </test>

    <test name ="WikiTests" >
        <classes>
            <class name = "com.automation.uitests.WikiTests"/>
        </classes>
    </test>
</suite>
